:root {
    --bg-color: #E5BEB5;
    --form-bg: #fff;
    --button-color: #896C6C;
}

body {
    background-color: var(--bg-color);
}

form {
    background-color: var(--form-bg);
}
form h2 {
    color: var(--button-color);
}

form .btn {
    color: var(--button-color);
    border: var(--button-color) 1px solid;
}
.btn:hover,
.btn:active,
.btn:checked {
    background-color: var(--button-color) !important;
    color: var(--form-bg) !important;
    border-color: var(--button-color) !important;
}
form a:hover {
    text-decoration: underline !important;
}
.form-control:focus {
    border-color: var(--button-color);
    box-shadow: none;
}

.card {
    background-color: var(--form-bg);
    color: var(--button-color);
    padding: 50px 100px;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(50, 125, 50, 0.5);
}